.App {
  font-family: sans-serif;
  text-align: center;
}

.increment {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
}

.increment:hover {
  background-color: lightgreen;
}

.increment:active {
  background-color: darkgreen;
}

.decrement {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
}

.decrement:hover {
  background-color: pink;
}

.decrement:active {
  background-color: darkred;
}

input:focus {
  background-color: ivory;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
